@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-image: url("background.jpg");
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 100vw;
  height: 100vh;

  grid-template-areas:
    "SocialMedia SocialMedia  quote"
    "Websites MyClockDisplay ."
    ". dailyTasks ."
    ". longtermGoals weather";
}

/* Setting Up Grid Areas */
#quote {
  grid-area: quote;
  margin: auto;
}

#weather {
  grid-area: weather;
  margin: auto;
}

#SocialMedia {
  grid-area: SocialMedia;
  background-color: rgb(143, 143, 143, 0.3);
  border-radius: 10px;
}

#SocialMedia li {
  list-style: none;
  display: inline-block;
}

#SocialMedia img {
  height: 40px;
  padding: 5px;
}

#MyClockDisplay {
  grid-area: MyClockDisplay;
  background-color: rgb(143, 143, 143, 0.3);
  border-radius: 10px;
  margin: auto;
}

#Websites {
  grid-area: Websites;
  background-color: rgb(143, 143, 143, 0.3);
  border-radius: 10px;
}

/**************************************************/

#Websites input[type="text"] {
  width: 40%;
}

#Websites input[type="button"] {
  width: 10%;
}

#dailyTasks {
  grid-area: dailyTasks;
  background-color: rgb(143, 143, 143, 0.3);
  border-radius: 10px;
}

#dailyTasks,
#Websites,
ul {
  list-style: none;
}

#dailyTasks,
#Websites,
#longtermGoals input {
  margin-left: 5%;
}

input[type="text"] {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  margin-left: 1%;
}

input[type="button"] {
  font-family: "Montserrat", sans-serif;
  padding-right: 15px;
  padding-bottom: 3px;
  background-color: transparent;
  border: none;
}

#longtermGoals {
  grid-area: longtermGoals;
  background-color: rgb(143, 143, 143, 0.3);
  border-radius: 10px;
  margin: auto;
}

/* Editing the Information in each grid area */
.clock {
  font-size: 8rem;
  color: white;
}
